body {
    margin-top: 5px;
    text-align: center;
  }
  
  #flightInfo {
    display: flex;
    justify-content: center;
  }
  
  table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f0f0f0;
  }

  .link-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .link-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .link-image img {
    width: 112.5px;
    height: 112.5px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .link-text {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
  }

  .current-position-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .flight-path-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }