body {
    margin-top: 5px;
    text-align: center;
  }
  
  #flightInfo {
    display: flex;
    justify-content: center;
  }
  
  table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f0f0f0;
  }

  .link-image {
    display: inline-block;
    width: 112.5px;
    height: 112.5px;
    border-radius: 50%;
    background-color: #f2f2f2;
    text-align: center;
    padding: 0;
    margin: 20px;
    position: relative;
  }
  
  .link-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }