<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">  
    <title>Document</title>
</head>
<body>
    <div class="container">
      <h1>Flights</h1>
      <table class="table table-striped">
        <tr>
          <th>Departure Airport</th>
          <th>Call Sign</th>
          <th>Estimated Arrival Airport</th>
          <th>Time last seen</th>
          <th>Track</th>
        </tr>
        {% for flightInfo in flights %}
        <tr>
          <td>{{ flightInfo.dep_airport }}</td>
          <td>{{ flightInfo.call_sign }}</td>
          <td>{{ flightInfo.est_arrival_airport }}</td>
          <td>{{ flightInfo.time_last_seen }}</td>
          <td>
            <a href="{{ url_for('current_position', icao24=flightInfo.icao24) }}">Current Position</a> |
            <a href="{{ url_for('flight_path', icao24=flightInfo.icao24) }}">Flight Path</a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>