<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">          
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">  
    <title>Document</title>
</head>
<body>
    {% if 'departures' in data %}
        <h1>Departure Query</h1>
        <form action="/departures" method="get">
            <label for="icao">ICAO:</label>
            <input type="text" id="icao" name="icao" required>
            <label for="begin">Begin:</label>
            <input type="datetime-local" id="begin" name="begin" required>
            <label for="end">End:</label>
            <input type="datetime-local" id="end" name="end" required>
            <button type="submit">Submit</button>
        </form>
    {% elif 'arrivals' in data %}
        <h1>Arrival Query</h1>
        <form action="/arrivals" method="get">
            <label for="icao">ICAO:</label>
            <input type="text" id="icao" name="icao" required>
            <label for="begin">Begin:</label>
            <input type="datetime-local" id="begin" name="begin" required>
            <label for="end">End:</label>
            <input type="datetime-local" id="end" name="end" required>
            <button type="submit">Submit</button>
        </form>
    {% elif 'aircraft' in data %}
        <h1>Aircraft Query</h1>
        <form action="/aircraft" method="get">
            <label for="icao24">ICAO24:</label>
            <input type="text" id="icao24" name="icao24" required>
            <label for="begin">Begin:</label>
            <input type="datetime-local" id="begin" name="begin" required>
            <label for="end">End:</label>
            <input type="datetime-local" id="end" name="end" required>
            <button type="submit">Submit</button>
        </form>
    {% elif 'current_position' in data %}
        <h1>Current Position Query</h1>
        <form action="/current-position" method="get">
            <label for="icao24">ICAO24:</label>
            <input type="text" id="icao24" name="icao24" required>
            <button type="submit">Submit</button>
        </form>
    {% endif %}
</body>
</html>